/* 

You can write unscoped css here. It will be scoped relative to the gadget content. 
Please, refer to <style scoped>...

*/

body, input, button {
  color: #7c7975;
  font: 14px 'AvenirNextLTPro-Regular','Helvetica Neue',Helvetica,Arial,sans-serif;
}

input {
  color: #524e47;
}

input:focus, input:active {
  border-color: #c7c3be;
  border-radius: 0px;
  box-shadow: none;
  -webkit-box-shadow: none;
  outline: none;
}

.col {
  box-sizing: border-box;
  float: left;
}

.col-4 {
  width: 33.33%;
}

.content {
  height: 419px;
  overflow: hidden;
  width: 724px;
}

.menu nav li, .content .canvas .controls li, .content .canvas .sub-controls li {
  float: left;
  list-style-type: none;
}

.menu .text-center {
  padding-top: 5px;
}

.content button.btn {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  color: white;
  font-size: 13px;
  outline: none;
  margin: 0;
  padding: 5px 10px;
}

.content button.btn-default {
  background: #7c7975;
}

.content button.btn > i.fa {
  margin-right: 8px;
}

.content button.record {
  background: #ce3e30;
}

.content button.record:hover {
  background: #be392c;
}

.content button.record:active {
  background: #ae3429;
}

.content button.play {
  background: #3a968a;
  margin-right: 10px;
}

.content button.play:hover {
  background: #2f7a70;
}

.content button.play:active {
  background: #ae3429;
}

.content button.clear {
  background: #7c7975;
  display: none;
}

.content button.clear:hover {
  background: #6f6c69;
}

.content button.clear:active {
  background: #625f5c;
}

.content button.recording i.fa {
  animation: blink 2s infinite;
  -webkit-animation: blink 2s infinite;
}

@keyframes blink {
  0% { color: white; } 
  50% { color: black; }
}
@-webkit-keyframes blink {
  0% { color: white; } 
  50% { color: black; }
}

.content button:hover {
  background: #6f6c69;
}

.content button:active {
  background: #625f5c;
}

.content button.btn.disabled, .content button.btn.disabled:hover, .content button.btn.disabled:focus, .content button.btn.disabled:active {
  background: #f2f1ed;
  color: #c7c3be;
}

.content .slides, .content .slides .slide {
  overflow: hidden;
  position: relative;
}

.content .slides .slide {
  float: left;
  height: 423px;
  transition: width .3s;
  -moz-transition: width .3s;
  -webkit-transition: width .3s;
  width: 0px;
}

.content .slides .slide.current {
  width: 722px;
}

.content .slides .slide.tpl {
  display: none;
}

.content .slides .slide .menu, .content .slides .slide .canvas {
  min-width: 702px;
}

.content .canvas {
  border: 1px solid #eee;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  margin: 5px 0;
  min-height: 380px;
  position: relative;
}

.content .canvas canvas {
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  position: relative;
}

.content .canvas canvas, .content .canvas canvas:active, .content .canvas canvas:focus {
  cursor: pointer;
}

.content .canvas.text-busy canvas {
  cursor: text;
}

.content .canvas .controls {
  border-top: 1px solid #eee;
}

.content .canvas .controls li, .content .canvas .sub-controls li, .col li.control {
  cursor: pointer;
  font-size: 14px;
  height:30px;
  line-height:30px;
  position: relative;
  text-align: center;
  width: 40px;
}

.content .canvas .controls li.clear-btn {
  width: 53px;
}

.col li.text {
  padding: 6px 10px 0 0;
}

.content .canvas .controls li.text-icon {
  width: 100px;
}

.content .canvas .controls li.text-icon i {
  margin-left: 10px;
}

li.b-right {
  border-right: 1px solid #eee;
}

.content .canvas .controls li.clear-btn .btn {
  margin-top: 3px;
}

.content .canvas .controls li > .sub-menu {
  display: none;
  position: absolute;
  top: 0;
  padding: 0;
  width: 98px;
  text-align: left;
  background: white;
  border: 1px solid #ddd;
  border-bottom: 1px solid #eee;
}

.content .canvas .controls li > .sub-menu.open {
  display: block;
  top: -106px;
}

.content .canvas .controls li > .sub-menu li {
  width: auto;
  display: block;
  float: none;
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  text-align: left;
}

.content .canvas .controls li > .sub-menu li.title {
  font-size: 14px;
  font-weight: bold;
}

.content .canvas .controls li > .sub-menu li.title:hover {
  background-color: white;
}

.content .canvas .sub-controls {
  background-color: #ecf0f1;
}

.content .canvas .sub-controls .text-controls {
  display: none;
}

.content .canvas .text-controls input.text-pos {
  margin-left: 10px;
  width: 30px;
}

.content .canvas .controls li:hover, .content .canvas .sub-controls li:hover {
  background: #eee;
}

.content .canvas .controls li:hover i.fa, .content .canvas .sub-controls li:hover i.fa, .col li.control:hover i.fa {
  color: #524e47;
}

.content .canvas .controls li:hover .disabled i.fa, .content .canvas .sub-controls li:hover .disabled i.fa, .col li.control:hover .disabled i.fa {
  color: #c7c3be
}

.content .canvas .controls li.selected, .content .canvas .sub-controls li.selected {
  background: #ecf0f1;
}

.content .canvas .controls li.action-btn:hover {
  background: white;
}

.content .canvas .text-box {
  position: absolute;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.content .canvas {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.circle {
  color: #ccc;
  font-size: 12px;
}

.content .canvas .controls li.selected .circle {
  color: #999;
}

.circle.medium {
  font-size: 18px;
}

.circle.large {
  font-size: 24px;
}

.color {
  background-color: #444;
  display: block;
  height:30px;
  transition: height .2s;
  -moz-transition: height .2s;
  -webkit-transition: height .2s;
  width: 40px;
}

.content .canvas .controls li.selected .color {
  height: 25px;
}

.color.red {
  background-color: #e74c3c;
}

.color.blue {
  background-color: #3498db;
}

.color.green {
  background-color: #2ecc71;
}

.color.orange {
  background-color: #e67e22;
}

.color.yellow {
  background-color: #f1c40f;
}

.icon {
  display: block;
  height:30px;
  line-height:30px;
}

.icon > i {
  line-height:30px;
  vertical-align: middle;
}

.text-center { text-align: center; }
.text-right { text-align: right; }
.right { float: right !important; }
.disabled { color: #c7c3be !important; }

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}